<div class="page-heading"
    style="background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url({{project.coverImagePath}})">
    <div class="container">
        <button class="close-btn" (click)='backToProjects()'><span>&times;</span></button>

        <div class="heading-content-bg">
            <div class="heading-content">
                <p><a (click)="backToProjects()">Projects</a> / <em>{{project.name}}</em></p>
                <h2>{{project.name}}
                    <em>project</em>
                </h2>
            </div>
        </div>
    </div>
</div>

<section class="project-details-container">
    <div class="project-details-container_description">
        {{project.description}}
    </div>
    <div class="project-details-container_tech">
        <div class="skills">
            <div class="pill" *ngFor="let tech of technologies">{{tech}}</div>
        </div>
    </div>
    <div class="project-details-container_title" *ngIf="project.myWork">
        Things I did in the project
    </div>
    <div class="project-details-container_description">
        {{project.myWork}}
    </div>
    <div class="project-details_live-demo-btn" *ngIf="project.liveUrl">
        <action-button label="Live Demo" (onClick)="openLiveDemo()"></action-button>
    </div>
</section>

<section id="footer-barId" class="footer-bar">
    <footer-bar></footer-bar>
</section>