<div class="segment-container">
    <h2 class="segment-heading">
        <span class="segment-heading_main">Contact Me</span>
        <span class="segment-heading_subtext ">
            Feel free to Contact Me by clicking the button below, and I will get back to you as soon as possible
        </span>
    </h2>
    <div class="contact-content">
        <a href="mailto: vujicaco@gmail.com" class="contact-button">
            Contact Me
            <i class="fa fa-paper-plane-o fa-lg" aria-hidden="true"></i>
            <span>vujicaco@gmail.com</span>
        </a>
    </div>
</div>