.mid-pages_wrapper {
    position: absolute;
    z-index: 10;
    height: 110px;
    width: 100%;
    background: #259f6c;
}

.mid-page_content {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
