.segment-container {
    background: #fafafa;
}

.about-me-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: justify;
    text-justify: inter-word;
}

p {
    text-indent: 50px;
}

.about-button {
    display: flex;
    justify-content: flex-start;
}

@media screen and (max-width: 450px) {
    .about-me-content {
        grid-template-columns: 1fr;
    }

    .about-button,
    .about-skills {
        justify-content: center;
    }

    .about-skills {
        margin-top: 30px;
    }
}
