$color_1: #000;
$background-color_1: #00bbff;

.segment-container {
    background: #fafafa;
}

.about-me-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: justify;
    text-justify: inter-word;
}

p {
    text-indent: 50px;
}

.about-button {
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
}

a {
    text-decoration: none;
    color: $color_1;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    position: relative;
    cursor: pointer;
    &::before {
        content: "";
        color: $color_1;
        background-color: $background-color_1;
        opacity: 0.75;
        position: absolute;
        left: 0;
        bottom: 3px;
        width: 100%;
        height: 6px;
        transition: all 0.3s ease-in-out;
    }
    &:hover {
        &::before {
            bottom: 0;
            height: 100%;
        }
    }
}

.image-container img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    float: left;
    margin-right: 5px;
    border: 3px dashed #259F6C;
    background-size: cover;
    transition: transform 0.4s;
    -webkit-transition: -webkit-transform 0.4s;
    &:hover {
        transform: scale(1.3) rotate(0.01deg);
        -webkit-transform: scale(1.3) rotate(0.01deg);
    }
}

@media screen and (max-width: 450px) {
    .about-me-content {
        grid-template-columns: 1fr;
    }
    .about-button {
        justify-content: center;
    }
    .about-skills {
        justify-content: center;
        margin-top: 30px;
    }
}
