<div id="myNav" class="overlay">
    <a class="closebtn" routerLink='#'><span>&times;</span></a>

    <!-- Overlay content -->
    <div class="overlay-content">
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>

        <!-- <div class="wrapper">
            <div class="map">
                <div style="height: 200px;width: 200px;color: rgb(17, 6, 174);"></div>

            </div>
            <div class="weather">
                <div style="height: 200px;width: 200px;color: rgb(17, 6, 174);"></div>
            </div>
        </div> -->
    </div>

</div>