$redColor: rgba(244, 67, 54, 1);
$blueColor: rgba(33, 150, 243, 1);

.top-line {
    height: 3px;
    background: #fc0;
    box-shadow: 0 0 35px 15px #fc0, 0 0 50px 25px #fff;
}
.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 30px;
    height: 250px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(../../../assets/images/home_bg.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.scroll-to-top {
    padding: 10px 15px;
    color: #fff;
    background: rgb(180, 180, 2);
    border-radius: 50%;
    cursor: pointer;
}

.social-links {
    font-size: 48px;
    a {
        margin: 20px;
        color: #fff;
    }
}

.social-icon {
    padding: 10px;
    animation: socialIconGlitch 200ms 10;
    -webkit-animation: socialIconGlitch 200ms 10;
    -moz-animation: socialIconGlitch 200ms 10;
    -o-animation: socialIconGlitch 200ms 10;
    color: #fff;
    &:hover {
        animation: socialIconGlitch 200ms infinite;
        -webkit-animation: socialIconGlitch 200ms infinite;
        -moz-animation: socialIconGlitch 200ms infinite;
        -o-animation: socialIconGlitch 200ms infinite;
    }
}

@keyframes socialIconGlitch {
    0% {
        text-shadow: 5px 4px $redColor, -5px -6px $blueColor;
    }
    25% {
        text-shadow: -5px -6px $redColor, 5px 4px $blueColor;
    }
    50% {
        text-shadow: 5px -4px $redColor, -8px 4px $blueColor;
    }
    75% {
        text-shadow: -8px -4px $redColor, -5px -4px $blueColor;
    }
    100% {
        text-shadow: -5px 0 $redColor, 5px -4px $blueColor;
    }
}

.copyrights {
    color: #fff;
}
