<div class="top-line"></div>
<div class="footer-container">
    <div class="background"></div>
    <div class="social-links">
        <a href="https://www.linkedin.com/in/vujicaco/" target="_blank">
            <i class="fa fa-linkedin-square social-icon" aria-hidden="true"></i>
        </a>
        <a href="https://github.com/AleksandarVujic" target="_blank">
            <i class="fa fa-github-square social-icon" aria-hidden="true"></i>
        </a>
    </div>

    <div class="scroll-btn-wrapper">
        <button (click)="scrollToTop()" class="scroll-btn">Back to Top<span class="icon-right"></span>
            <span class="icon-right after"></span>
        </button>
    </div>


    <span class="bottom-line"></span>
    <small class="copyrights">
        <i class="fa fa-copyright" aria-hidden="true"></i>
        2022
        <i class="mid-line"> | </i>
        <span class="logo-name">Created by Aleksandar Vujić &diams Software Developer</span>
    </small>
</div>