<div class="top-line"></div>
<div class="footer-container">
    <div class="background"></div>
    <div class="social-links">
        <a href="https://www.linkedin.com/in/vujicaco/" target="_blank">
            <i class="fa fa-linkedin-square social-icon" aria-hidden="true"></i>
        </a>
        <a href="https://github.com/AleksandarVujic" target="_blank">
            <i class="fa fa-github-square social-icon" aria-hidden="true"></i>
        </a>
    </div>
    <a (click)="scrollToTop()" class="scroll-to-top"><i class="fa fa-angle-double-up fa-2x"></i></a>
    <small class="copyrights">
        <i class="fa fa-copyright" aria-hidden="true"></i>
        2022
        <i class="mid-line"> | </i>
        <span class="logo-name">Created by Aleksandar Vujić * Software Developer</span>
    </small>
</div>