<div class="segment-container">
    <h2 class="segment-heading">
        <span class="segment-heading_main">Projects</span>
        <span class="segment-heading_subtext ">
            Some of my projects
        </span>
    </h2>
    <div class="projects-content">
        <div class="content-wrapper">
            <div class="card" *ngFor="let project of projects">
                <a class="card__card-link" [routerLink]="['/project-details', project.id]"></a>
                <img class="card__image" src="{{project.coverImagePath}}" alt="{{project.name}} image">
                <div class="card__text-wrapper">
                    <h2 class="card__title">{{project.name}}</h2>
                    <div class="card__post-date">{{project.technologies}}</div>
                    <div class="card__details-wrapper">
                        <p class="card__excerpt">{{project.shortDescription}}&hellip;</p>
                        <a class="card__learn-more" [routerLink]="['/project-details', project.id]">Learn more<i
                                class="fa fa-angle-double-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>