.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 70;
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    transition: 0.5s;
}

.overlay-content {
    display: flex;
    height: 100%;
    width: 100%;
    text-align: center;
    margin: 10px;
}

.overlay-content .city-info {
    flex-direction: column;
}

.overlay-content .images-slider {
    border: 1px solid #fc0;
    width: 290px;
    height: 200px;
    margin: 10px;
}

.overlay-content .about-ns {
    width: 290px;
    height: 190px;
    margin: 10px;
    color: #fff;
}

.overlay div {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.overlay a:hover,
.overlay a:focus {
    color: #d8cbcb;
}

.according-title {
    margin: 0;
}

.about-ns .according-title {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: normal;
    font-style: italic;
    display: block;
    text-align: left;
    line-height: 30px;
    letter-spacing: 0.02em;
    margin-bottom: 10px;
}

.about-ns .according-title,
.according-to {
    display: flex;
    justify-content: start;
    align-items: center;
}

.according-to {
    margin-top: 20px;
}

.according-to a {
    margin-left: 30px;
    color: #fff;
    text-decoration: underline;
    text-decoration-style: dashed;
    cursor: pointer;
    opacity: 0.7;
    font-size: 16;
    letter-spacing: 2px;
}

.according-to a:hover {
    color: #fc0;
    opacity: 1;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 400px;
    width: 500px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 400px;
    width: 500px;
}
