$color_1: #fff;
$color_2: #d8cbcb;
$font-family_1: "Roboto", Arial, sans-serif;
$background-color_1: #000;
$background-color_2: #2c75ff;

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 70;
    left: 0;
    top: 0;
    background-color: $background-color_1;
    overflow: hidden;
    transition: 0.5s;
    div {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    a {
        &:hover {
            color: $color_2;
        }
        &:focus {
            color: $color_2;
        }
    }
}
.overlay-content {
    display: flex;
    height: 100%;
    width: 100%;
    text-align: center;
    margin: 10px;
    .city-info {
        flex-direction: row;
    }
    .images-slider {
        border: 1px solid #259f6c;
        width: 290px;
        height: 200px;
        margin: 10px;
    }
    .about-ns {
        width: 290px;
        height: 190px;
        margin: 10px;
        color: $color_1;
    }
}
.according-title {
    margin: 0;
}
.about-ns {
    .according-title {
        font-family: $font-family_1;
        font-weight: normal;
        font-style: italic;
        display: block;
        text-align: left;
        line-height: 30px;
        letter-spacing: 0.02em;
        margin-bottom: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}
.according-to {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}
.mapouter {
    position: relative;
    text-align: right;
    height: 400px;
    width: 500px;
}
.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 400px;
    width: 500px;
}
a {
    text-decoration: none;
    color: $color_1;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    cursor: pointer;
    margin-left: 30px;
    letter-spacing: 2px;
    &::before {
        content: "";
        color: $color_1;
        background-color: $background-color_2;
        opacity: 0.75;
        position: absolute;
        left: 0;
        bottom: 3px;
        width: 100%;
        height: 8px;
        z-index: -1;
        transition: all 0.3s ease-in-out;
    }
    &:hover {
        &::before {
            bottom: 0;
            height: 100%;
        }
    }
}

@media screen and (max-width: 800px) {
    .city-info {
        flex-direction: column;
    }

    .overlay div {
        flex-direction: column;
    }

    .mapouter{
        text-align: center;
    }

    .mapouter iframe{
        height: 300px;
        width: 300px;
    }
}

@media (width<600px){
    .overlay-content {
        margin-top:60px
    }
}
