html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    // color: #333;
    font-size: 1em;
    // background-color: #1e1e1e;
    height: 100%;
    width: 100%;
    transition: background-color 0.5s;
}

body {
    margin: 0;
    padding: 0;
}
// not showing scrollbar but can scroll
body::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
}

section::-webkit-scrollbar {
    width: 0 !important;
}

// Style for scrollbar
// body::-webkit-scrollbar {
//     width: 7px;
// }

// body::-webkit-scrollbar-track {
//     background: orange;
// }

// body::-webkit-scrollbar-thumb {
//     background-color: blue;
//     border-radius: 0px;
// }

.segment-container {
    margin: auto;
    padding: 6rem 0;
}

.segment-heading_main {
    display: block;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 3.5rem;
    position: relative;
    color: #111;
}
.segment-heading_main::after {
    content: "";
    position: absolute;
    top: calc(100% + 1.5rem);
    height: 5px;
    width: 3rem;
    background: #facf0f;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

.segment-heading_subtext {
    display: block;
    text-align: center;
    color: #555;
    font-size: 1rem;
    font-weight: 500;
    max-width: 70rem;
    margin: auto;
    line-height: 1.6;
}

button {
    all: unset;
    cursor: pointer;
}

.close-btn {
    position: absolute;
    top: 25px;
    left: 45px;
    font-size: 60px;
    cursor: pointer;
    color: #ddd;
    &:hover {
        color: #fff;
    }
}
@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }
    .overlay .close-btn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
