$color_1: #111;
$color_2: #555;
$color_3: #ddd;
$font-family_1: "Roboto", Arial, Helvetica, sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400&display=swap");

* {
    font-family: $font-family_1;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-family_1;
    font-weight: normal;
    font-style: normal;
    font-size: 1em;
    height: 100%;
    width: 100%;
    transition: background-color 0.5s;
}

body {
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
}

section::-webkit-scrollbar {
    width: 0 !important;
}

.segment-container {
    margin: auto;
    padding: 6rem 6rem;
}

.segment-heading_main {
    display: block;
    font-size: 2rem;
    text-transform: lowercase;
    letter-spacing: 1px;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 3.5rem;
    position: relative;
    color: $color_1;
}
.segment-heading_main::after {
    content: "";
    position: absolute;
    top: calc(100% + 1rem);
    height: 5px;
    width: 5rem;
    background: #facf0f;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

.segment-heading_subtext {
    display: block;
    text-align: center;
    color: $color_2;
    font-size: 1.5rem;
    font-weight: 600;
    max-width: 70rem;
    margin: auto;
    line-height: 1.6;
}

button {
    all: unset;
    cursor: pointer;
}

.close-btn {
    position: absolute;
    top: 25px;
    left: 45px;
    font-size: 60px;
    cursor: pointer;
    color: $color_3;
    &:hover {
        color: #fff;
    }
}
@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }
    .overlay .close-btn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media screen and (max-width: 450px) {
    .segment-container {
        padding: 1rem 1rem;
    }
}

.skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: fit-content;
    margin: 1em;
}

.skills .pill {
    font-size: 14px;
    font-weight: 700;
    height: 1em;
    padding: 1.5em 2em;
    margin: 5px;
    border-radius: 1em;
    background: #93af56;
    cursor: default;
    user-select: none;
}
