<section id="home">
    <div class="container">
        <a class="menu-btn" (click)="openMenu()" *ngIf="!navigationService.showNavigation">
            <span>menu</span>
        </a>
        <app-navigation *ngIf="navigationService.showNavigation"></app-navigation>
        <div class="box">
            <div class="title">
                <span class="block"></span>
                <h1>Aleksandar Vujić<span></span></h1>
            </div>
            <div class="role">
                <div class="block"></div>
                <p>Software Developer based in <a (click)='openOvarlayNS()'>Novi Sad</a>
                </p>
            </div>
        </div>
    </div>

    <overlay *ngIf="dialogService.showDialog"></overlay>

    <mouse-scroll-me></mouse-scroll-me>

</section>


<section id="aboutId" class="about" name="about">
    <about></about>
</section>

<section id="projectsId" class="projects" name="projects">
    <projects></projects>
</section>

<section id="contactId" class="contact" name="contact">
    <contact></contact>
</section>


<section id="footer-barId" class="footer-bar">
    <footer-bar></footer-bar>
</section>